<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fb.css">
</head>
<body>
    <div class="nav"></div>
    <div class="main">
        <div class="main_left"></div>
        <div class="main_content">
            <div class="main_content_stories">
                <div class="main_content_stories_item">
                    <div class="main_content_stories_item_avatar"></div>
                </div>
                <div class="main_content_stories_item">
                    <div class="main_content_stories_item_avatar"></div>
                </div>
                <div class="main_content_stories_item">
                    <div class="main_content_stories_item_avatar"></div>
                </div>
                <div class="main_content_stories_item">
                    <div class="main_content_stories_item_avatar"></div>
                </div>
                <div class="main_content_stories_item">
                    <div class="main_content_stories_item_avatar"></div>
                </div>
            </div>
            <div class="main_content_new"></div>
            <div class="main_content_room"></div>
            <div class="main_content_post"></div>
            <div class="main_content_post"></div>
            <div class="main_content_post"></div>
        </div>
        <div class="main_right">
            <div class="main_right_top"></div>
            <div class="main_right_mid"></div>
            <div class="main_right_friends">
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <div class="main_right_friends_item"></div>
                <!-- -webkit-scrollbar -->
            </div>
        </div>
    </div>
</body>
</html>