<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="background: blueviolet; width: 300px;">Helo</p>
    <h2>Helo</h2>
    <span style="background: blueviolet; width: 300px;">Hi</span>
    <a href="">Hahaa</a>
<!-- display: inline - chiều ngang = nội dung bên trong, không thể thay đổi kích (a, span) -->
<!-- display: block - chiều ngang = 100% kích thước thẻ bao nó, có thể thay đổi kích thước (p, div, h, form, ...) -->
    <img style="width:300px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Eiffel_tower_at_dawn_horizontal.jpg/1200px-Eiffel_tower_at_dawn_horizontal.jpg" alt="">
<!-- display: inline-block = chiều ngang bằng nội dung và thay đổi được kích thước -->
</body>
</html>