<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="head">
        <div class="head_logo"></div>
        <div class="head_banner"></div>
    </div>
    <div class="nav"></div>
    <div class="main">
        <div class="main_sidebar">
            <div class="main_sidebar_top"></div>
            <div class="main_sidebar_bot"></div>
        </div>
        <div class="main_content">
            <div class="main_content_news"></div>
            <div class="main_content_slides"></div>
            <div class="main_content_item"></div>
            <div class="main_content_item"></div>
            <div class="main_content_item"></div>
            <div class="main_content_item"></div>
            <div class="main_content_item"></div>
            <div class="main_content_item"></div>
        </div>
        <div class="main_poster"></div>
    </div>
    <div class="footer"></div>
    <!-- Ace xong go 1  -->
</body>
</html>

<!-- Dưới 1000px: phần item chỉ hiện 2 item 1 hàng; chỉ phần head chỉ hiện banner, phần sidebar thì ẩn đi -->

<!-- Dưới 800px: phần item chỉ hiện 1 item 1 hàng; chỉ phần head chỉ hiện logo, phần poster thì ẩn đi -->