*{
    box-sizing: border-box;
}
.border {
    border: 1px solid;
}
.mt-10{
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.d-flex {
    display: flex;
}

.head_logo {
    width: calc(30% - 10px);
    height: 150px;
}

.head_banner {
    width: 70%;
    height: 150px;
}

.nav{
    justify-content: space-between;
    padding: 0 10px;
}

.nav_menu, .nav_search {
    height: 50px;
}

.nav_menu>div {
    height: 30px;
    line-height: 30px;
    padding:0 10px;
    margin-top: 10px;
}

.nav_menu>div:not(:last-child){
    border-right: 1px solid #000;
}

.main_sidebar {
    width: 15%;
}

.main_sidebar>div {
    height: 250px;
    width: 100%;
}

.main_content {
    width: 65%;
}

.main_content_top>div {
    width: calc(50% - 20px);
    margin: 0 10px;
    height: 200px;
}

.main_content_list {
    flex-wrap: wrap;
}
.main_content_list>div {
    width: calc(33.3% - 20px);
    margin: 10px 10px;
    height: 200px;
}

.main_poster {
    width: 20%;
    height: 600px;
}

.footer_text{
    line-height: 50px;
}